* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('/assets/images/polina.jpg') no-repeat;
  background-size: cover;
}